## special CSS definitions
#set( $wrapperCssClasses = '' )
#if( !$velocityHasNext )
    #set( $wrapperCssClasses = ' cn-last' )
#end
            
#if( $note.isDirect() )
    #set( $wrapperCssClasses = "$wrapperCssClasses cn-direct" )
#end

#if( $note.isForMe() && !$note.isDirect() )
    #set( $wrapperCssClasses = "$wrapperCssClasses cn-mentioned" )
#end
#set($renderBlog = $renderStyle == 'CLASSIC' || ${note.discussionDepth} == 0)
## TODO: use classic for unindented single discussion note?
#if($renderStyle == 'THREAD' && !$widget.getBooleanParameter("noIndentation", false))
    #if(${note.DiscussionDepth} < 8)
        #set( $wrapperCssClasses = "$wrapperCssClasses indent-level-${note.DiscussionDepth}")
    #else
        #set( $wrapperCssClasses = "$wrapperCssClasses indent-level-7")
    #end
#end
## #####
#set( $authorSignature      = $escTool.xmlSimple($communoteTool.getUserSignature($note.user, $nameMedium)) )
#set( $usersWhichLikeThisPost = $note.getProperty('usersWhichLikeThisPost'))
#set( $currentUserLikesNote = ${note.getProperty('currentUserLikesNote')} == 'true')
#if($currentUserLikesNote)
    #set( $wrapperCssClasses = "$wrapperCssClasses cn-note-has-likes cn-note-is-liked" )
#elseif($usersWhichLikeThisPost.size() > 0)
    #set( $wrapperCssClasses = "$wrapperCssClasses cn-note-has-likes" )
#end
#if(${note.favorite})
    #set( $wrapperCssClasses = "$wrapperCssClasses cn-note-is-favorite" )
#end
#if($renderStyle == 'CLASSIC' && $note.NumberOfDiscussionNotes > 1)
    #set( $wrapperCssClasses = "$wrapperCssClasses cn-note-has-comments" )
#end
#set( $repostOriginalNote = false)
#set( $repostOriginalNote = $note.getProperty('repostOriginalNote'))
#set( $repostAuthor = false)
#if ($repostOriginalNote)
    #set( $wrapperCssClasses = "$wrapperCssClasses cn-note-repost")
    #set ($repostAuthor = $repostOriginalNote.get('user'))
    #if(${repostAuthor})
        #set ($repostAuthorSignature = $escTool.xmlSimple($communoteTool.getUserSignature(${repostAuthor}, $nameMedium)))
    #end
#end

<div class="control-note-wrapper control-note-${note.Id} cn-list-overview-blog-entry cn-note-render-mode-view cn-query-matched-${note.matched}${wrapperCssClasses}" name="${widget.widgetId}-note-${note.Id}" data-cnt-note-id="${note.Id}" data-cnt-note-actions="${widget.getNoteActions($note)}" data-cnt-note-meta-data="${escTool.xmlSimple(${widget.getNoteMetaData($note)})}">
    <div class="cn-left-wrapper">
        <div class="cn-left">
            <div class="cn-entry-info-author">
            #if($repostOriginalNote)
                #if(${repostAuthor})
                     #link( $urlTool.user(${repostAuthor.Alias}) "<img class=${escTool.Q}cn-userpic${escTool.Q} src=${escTool.Q}$urlTool.userImage($repostAuthor.Id, $imageMedium)${escTool.Q} title=${escTool.Q}${repostAuthorSignature}${escTool.Q} alt=${escTool.Q}${repostAuthorSignature}${escTool.Q} width=${escTool.Q}50${escTool.Q} height=${escTool.Q}50${escTool.Q} data-cnt-user-id=${escTool.Q}${repostAuthor.Id}${escTool.Q} />" $request "cn-note-original-author control-entity-link")
                #else
                    <span class="cn-note-original-author"><img class="cn-userpic" src="$urlTool.userImage(null, $imageMedium)" title="blog.post.list.repost.authorDeleted.hint" /></span>
                #end
                #link( $urlTool.user($note.User.Alias) "<img class=${escTool.Q}cn-userpic${escTool.Q} src=${escTool.Q}$urlTool.userImage($note.user.id, $imageMedium)${escTool.Q} title=${escTool.Q}$authorSignature${escTool.Q} alt=${escTool.Q}$authorSignature${escTool.Q} width=${escTool.Q}50${escTool.Q} height=${escTool.Q}50${escTool.Q} data-cnt-user-id=${escTool.Q}$note.user.id${escTool.Q} />" $request "cn-note-author control-entity-link")
            #else
            #link( $urlTool.user($note.User.Alias) "<img class=${escTool.Q}cn-userpic${escTool.Q} src=${escTool.Q}$urlTool.userImage($note.user.id, $imageMedium)${escTool.Q} title=${escTool.Q}$authorSignature${escTool.Q} alt=${escTool.Q}$authorSignature${escTool.Q} width=${escTool.Q}50${escTool.Q} height=${escTool.Q}50${escTool.Q} data-cnt-user-id=${escTool.Q}$note.user.id${escTool.Q} />" $request "cn-note-author control-entity-link")
            #end
            </div>
            <div class="cn-entry-info-icons">
                #if($note.Direct)
                    <img class="cn-direct cn-icon" title="#t('blog.post.list.note.direct')" src="$urlTool.render("/themes/core/images/icons/empty.gif", false, false, true)" />
                #elseif($note.ForMe)
                   <img class="cn-mentioned cn-icon" title="#t('blog.post.list.note.for.me')" src="$urlTool.render("/themes/core/images/icons/empty.gif", false, false, true)" />
                #end
            </div>
        </div>
        <div class="cn-click-area open" title="#t('blog.post.list.open.long')">
            <!-- Empty Click Area -->
        </div>
        <div class="cn-click-area close" title="#t('blog.post.list.close.long')">
            <!-- Empty Click Area -->
        </div>
    </div>
    <div class="cn-right">
        <div class="cn-wrapper-content">
        	<div class="cn-content-container">
	        	<div class="cn-wrapper-bar top">
                    #parse('/WEB-INF/vm/widget/blog/single-note-fragments/cn-meta-top.html.vm')    
		        </div> 
	            <div class="cn-short-content">
	                #if( "$!note.shortContent" == '' )
	                    $!note.content
	                #else
	                    $note.shortContent.replace('<rml/>', $fmtTool.message('blog.post.list.note.read.more.link',['<a class="read-more cn-event control-collapse-expand-note">','</a>']))
	                #end
	            </div>
	            <div class="cn-content cn-hidden">
	                $!note.content<p><a href="javascript:;" class="cn-link cn-close-note control-collapse-expand-note">#t('blog.post.list.note.read.less.link')</a></p>
	            </div>
	            #if($note.CreationDate.Time != $note.LastModificationDate.Time)
	                #set($modificationDate = "")
	                #set($modificationDate = $dateTool.format('medium', 'short', $note.LastModificationDate, $widget.CurrentUserLocale, $widget.TimeZone))
	                <div class="cn-content-modification-hint">
	                    $fmtTool.message("blog.post.list.note.modification.hint", $modificationDate)
	                </div>
	            #end
	            <div class="cn-note-media">

	            #if($request.isRequestedSessionIdFromCookie())
	                #set( $imageList = $note.getAttachments('^(?:.*(gif|jpg|jpeg|png).*)$') )
	                #if( !$imageList.isEmpty() )
	                <div id="mb_image-list-$note.Id">
	                    <div class="cn-media-list cn-media-pic">
	                        <ul>
	                            #set( $imageCounter = 0 )
	                            #set( $thumbnailUrl = $urlTool.render("/image/attachment.do") )
	                            #foreach( $image in $imageList )
	                                #set( $imageCounter = $imageCounter + 1 )
	                                #set( $attachmentTitle = $escTool.xmlSimple("$image.FileName ($renderTool.getHumanReadableFileSize($image.Size))") )
	                                #set( $attachmentUrl = $urlTool.renderAttachmentUrl($image) )
	                                <li class="cn-media-item-$imageCounter">
	                                    <a href="$attachmentUrl" rel="lightbox[imageset-$note.Id]" title="#t('mediaboxAdvanced.image.title')::$attachmentTitle" target="_blank">
	                                        <img src="$thumbnailUrl?id=$image.Id" alt="$escTool.xmlSimple($image.FileName)" title="$attachmentTitle" class="lbThumb" />
	                                    </a>
	                                </li>
	                            #end
	                            #set( $hiddenImages = $imageCounter - 3 )
	                            #if($hiddenImages == 1)
	                                <li class="cn-media-action">
	                                    <a id="gridGalleryLink-$note.Id" class="cn-show-more" href="#mb_image-list-$note.Id" rel="lightbox[imagegrid-$note.Id 700 auto]" title="">$fmtTool.message("blog.post.list.note.media.more.sg", ${hiddenImages})</a>
	                                </li>
	                            #elseif($hiddenImages > 1) 
	                                <li class="cn-media-action">
	                                    <a id="gridGalleryLink-$note.Id" class="cn-show-more" href="#mb_image-list-$note.Id" rel="lightbox[imagegrid-$note.Id 700 auto]" title="">$fmtTool.message("blog.post.list.note.media.more.pl", ${hiddenImages})</a>
	                                </li>
	                            #end
	                        </ul>
	                    </div>
	                </div>
	                #end
	                #set( $attachmentList = $note.getAttachments('^(?:(?!(gif|jpg|jpeg|png)).)*$') )
	            #else
	                #set( $attachmentList = $note.getAttachments('.*') )
	            #end
	            
	            #if( !$attachmentList.isEmpty() )
	            <div class="cn-media-list cn-media-attachment">
	                <ul>
	                    #foreach( $attachment in $attachmentList )
	                        #set( $attachmentTitle = $!escTool.xmlSimple("$attachment.FileName ($renderTool.getHumanReadableFileSize($attachment.Size))") )
	                        #set( $attachmentUrl = $!urlTool.renderAttachmentUrl($attachment) )
	                        <li class="cn-media-attachment-file cn-media-item-$velocityCounter">
	                            <a href="$attachmentUrl" target="_blank" title="$!attachmentTitle">
                                    <span class="cn-icon $renderTool.getAttachmentClass($attachment.MimeTyp)"></span>
                                    <span class="cn-icon-label">$stringTool.truncateMiddle($!attachmentTitle,60,'...')</span>
                                </a>
	                        </li>
	                    #end
	                </ul>
	            </div>
	            #end
	            </div>
	            <div class="cn-content-meta cn-hidden #if( !$note.tags.isEmpty() || !$note.notifiedUsers.isEmpty() || $note.mentionTopicReaders || $note.mentionTopicAuthors || $note.mentionTopicManagers || $note.mentionDiscussionAuthors || ${repostOriginalNote}) cn-expanded #end">
	                #if(${repostOriginalNote})
	                   <div class="cn-repost-bar">
                            <span class="cn-icon"><!-- Meta Icon --></span>
                            <div>
                                #if(${repostAuthor} && ${repostOriginalNote.get('exists')})
                                    #if(${repostOriginalNote.get('blog')})
                                    #set($repostNoteId = $repostOriginalNote.get('id'))
                                        <a class="cn-link cn-content-meta-description control-entity-link" href="$urlTool.note(${repostOriginalNote.get('blog').getAlias()}, $repostNoteId)" target="_blank" data-cnt-note-id="$repostNoteId">#t_args('blog.post.list.repost.description' ${repostAuthorSignature})</a>
                                    #else
                                        <span class="cn-content-meta-description" title="#t('blog.post.list.repost.description.noOrigin.noAccess')">#t('blog.post.list.repost.description.noOrigin')</span>
                                    #end
                                #else
                                    <span class="cn-content-meta-description" title="#t('blog.post.list.repost.description.noOrigin.deleted')">#t('blog.post.list.repost.description.noOrigin')</span>
                                #end
                                <span class="cn-clear"><!-- Empty --></span>
                            </div>
                            <span class="cn-clear"><!-- Empty --></span>
                        </div>
	                #end
	                #if( !$note.tags.isEmpty() )
	                    <div class="cn-tag-bar">
	                        <span class="cn-icon"><!-- Meta Icon --></span>
	                        <div>
	                            #foreach($tag in $note.tags)
	                                <a class="cn-link control-entity-link" href="$urlTool.tag($tag.Id)" target="_blank" data-cnt-tag-id="$tag.Id">$escTool.xmlSimple($tag.name)#if($velocityHasNext),&nbsp;#end</a>
	                            #end
	                            <span class="cn-clear"><!-- Empty --></span>
	                        </div>
	                    </div>
	                    <span class="cn-clear"><!-- Empty --></span>
	                #end
	                #if( !$note.notifiedUsers.isEmpty() )
	                    <div class="cn-notified-users-bar">
                            <span class="cn-icon #if($note.Direct)direct#end"><!-- Meta Icon --></span>
	                        <div>
	                            #foreach($notifiedUser in $note.notifiedUsers)
	                                <a class="cn-link control-entity-link" data-cnt-user-id="$notifiedUser.Id" href="$urlTool.user($notifiedUser.alias)" target="_blank">$escTool.xmlSimple($communoteTool.getUserSignature($notifiedUser, $nameShort))#if($velocityHasNext),&nbsp;#end</a>
	                            #end
	                            <span class="cn-clear"><!-- Empty --></span>
	                        </div>
	                    </div>
	                    <span class="cn-clear"><!-- Empty --></span>
	                #end

                    #if($note.creationSource == $sourceEmail || $note.creationSource == $sourceXMPP)                    
                        <div class="cn-creation-source-bar">
                            <span class="cn-icon"><!-- Meta Icon --></span>
                            <div>
                                #if($note.creationSource == $sourceEmail)
                                    <span class="cn-content-meta-description" title="#t('blog.post.list.source.email')">#t('blog.post.list.source.email')</span>
                                #elseif($note.creationSource == $sourceXMPP)
                                    <span class="cn-content-meta-description" title="#t('blog.post.list.source.xmpp')">#t('blog.post.list.source.xmpp')</span>
                                #end
                                <span class="cn-clear"><!-- Empty --></span>
                            </div>
                        </div>
                        <span class="cn-clear"><!-- Empty --></span>
                    #end
	                #parse('/WEB-INF/vm/widget/blog/single-note-fragments/cn-mentioned-groups-bar.html.vm')
	            </div>
            </div>
        </div>
        <span class="cn-clear"><!-- --></span>
    </div>
    #parse('/WEB-INF/vm/widget/blog/single-note-fragments/cn-note-actions.html.vm')
</div>