#set($contentTemplate = '/WEB-INF/vm/user-registration/user-terms-of-use-page.content.html.vm')
#set($pageTitle = "#t('blog.user.client.registration.page.title') &ndash; $escTool.xmlSimple(${communoteTool.CurrentClientName})")
#parse('/WEB-INF/vm/layout/medium_page.html.vm')
