#set($contentTemplate = '/WEB-INF/vm/pages/send-password-page-content.html.vm')
#set($pageTitle = "#t('blog.user.forgotten.password.page.title') &ndash; $escTool.xmlSimple(${communoteTool.CurrentClientName})")
#parse('/WEB-INF/vm/layout/tiny_page.html.vm')