#set($sendlink = $fieldTool.in("com.communote.server.web.fe.portal.user.forms.ForgottenPWForm").SEND_PW_LINK )
#set($confirmpw = $fieldTool.in("com.communote.server.web.fe.portal.user.forms.ForgottenPWForm").CONFIRM_NEW_PASSWORD )
<form method="post">
    <fieldset>
        #if($paramTool.get('pwaction') == $sendlink)
            <input type="hidden" name="action" value="${sendlink}"/>
            <div id="cn-container">
                <input type="hidden" id="springcmd" name="springcmd" />
                #cnHeadline('user.forgotten.password.label')
                 <div class="cn-line">
                    #cnErrorMessage('forgottenPWCommand.email')
                    #cnLabel('email' 'user.forgotten.password.type.user.email' true '')
                    <div class="cn-border">
                        <input type="text" class="cn-inputTxt" id="email" name="email" value="$!forgottenPWCommand.getEmail()" />
                    </div>
                    <span class="cn-clear"><!-- --></span>
                </div>
                <div class="cn-line cn-info cn-topspace40">#t('form.info.required.fields')</div>
                <div class="cn-line">
                    <div class="cn-buttons">
                        <input type="submit" class="cn-button main" name="_finish" value="#t('user.forgotten.password.send.email')" />
                        <span class="cn-clear"><!-- --></span>
                    </div>
                    <span class="cn-clear"><!-- --></span>
                </div>
            </div>
        #else
            <input type="hidden" name="action" value="${confirmpw}"/>
            <div id="cn-container">
                <input type="hidden" name="code" value="${escTool.nonWordChars($paramTool.get('code'))}" />
                <input type="hidden" id="springcmd" name="springcmd" />
                #cnHeadline('user.forgotten.password.label')
                <div class="cn-line">
                    #cnErrorMessage('forgottenPWCommand.password')
                    #cnLabel('password' 'user.forgotten.password.new.password' true '')
                    <div class="cn-border">
                        <input type="password" class="cn-inputTxt" id="password" name="password" value="$!forgottenPWCommand.getPassword()" autocomplete="off" />
                    </div>
                    <span class="cn-clear"><!-- --></span>
                </div>
                <div class="cn-line">
                    #cnErrorMessage('forgottenPWCommand.password2')
                    #cnLabel('password2' 'user.forgotten.password.retyped.password' true '')
                    <div class="cn-border">
                        <input type="password" class="cn-inputTxt" id="password2" name="password2" value="$!forgottenPWCommand.getPassword2()" autocomplete="off" />
                    </div>
                    <span class="cn-clear"><!-- --></span>
                </div>
                <div class="cn-line cn-info cn-topspace40">#t('form.info.required.fields')</div>
                <div class="cn-line">
                    <div class="cn-buttons">
                        <input type="submit" class="cn-button main" name="_finish" value="#t('user.forgotten.password.save')" />
                        <span class="cn-clear"><!-- --></span>
                    </div>
                    <span class="cn-clear"><!-- --></span>
                </div>
            </div>
        #end
    </fieldset>
</form>
