## if variables for packing and compression aren't defined fetch the values here
#if("$!packCss" == '')
    #set($packCss = $communoteTool.isPackCss())
#end
#if("$!compressCss" == '')
    #set($compressCss = $communoteTool.isCompressCss())
#end
#if($packCss)
    #foreach($cssCategory in $cssCategories)
        #set($cssResourceUrl = $urlTool.renderConcatenatedCssUrl($cssCategory, $compressCss))
        #if($cssResourceUrl != '')
    <link rel="stylesheet" type="text/css" href="$cssResourceUrl" media="screen,projection" />
        #end
    #end
#else
    #set($stylesCounter = 1)
    <style type="text/css" media="screen,projection">
    #foreach($cssCategory in $cssCategories)
        #set($cssResources = $urlTool.renderCssUrls($cssCategory, $compressCss))
        #foreach($cssResource in $cssResources)
        @import url("$cssResource");
            #if( $stylesCounter % 30 == 0 )</style><style type="text/css" media="screen,projection">#end
            #set($stylesCounter = $stylesCounter + 1)
        #end
    #end
    </style> 
#end
## should we define special categories for IE hacks to allow them to be extended?
<!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="$urlTool.render("/themes/core/styles/fix-ie8.css", false, false, true)" />
<![endif]-->
<!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="$urlTool.render("/themes/core/styles/fix-ie9.css", false, false, true)" />
<![endif]-->