<div class="cn-form-container">
    <form id="something_unique" action="#" method="post">
    	<input type="hidden" name="widgetAction" value="SAVE" />
        #cnRenderMessages()
        <fieldset>
            <div class="cn-form-info">
                $fmtTool.message("user.profile.ui.description")
            </div>
            <h2 class="cn-headline">$fmtTool.message("user.profile.ui.change.stream")</h2>
            <div class="select cn-field-50">
	            <label for="preselectedTab" class="cn-label">#t('user.profile.ui.change.stream.default.tab')</label>
	            <div class="cn-input">
		            <select id="preselectedTab" name="preselectedTab">
		                <option value="ALL" #if($singleResult.preselectedTab.name() == 'ALL')selected="selected"#end>#t('mainpage.horizontal.navigation.notesOverview.all')</option>
		                <option value="FOLLOWED" #if($singleResult.preselectedTab.name() == 'FOLLOWED')selected="selected"#end>#t('mainpage.horizontal.navigation.notesOverview.following')</option>
		                <option value="MY" #if($singleResult.preselectedTab.name() == 'MY')selected="selected"#end>#t('mainpage.horizontal.navigation.notesOverview.at-user')</option>
		                <option value="FAVOR" #if($singleResult.preselectedTab.name() == 'FAVOR')selected="selected"#end>#t('mainpage.horizontal.navigation.notesOverview.favorites')</option>
		            </select>
		        </div>
	        </div>
	        <div class="select cn-field-50 cn-last">
	            <label for="preselectedView" class="cn-label">#t('user.profile.ui.change.stream.default.view')</label>
	            <div class="cn-input">
		            <select id="preselectedView" name="viewType">
		                <option value="CLASSIC" #if($singleResult.viewType.name() == 'CLASSIC')selected="selected"#end>#t('blog.post.list.head.view.type.classic')</option>
		                <option value="COMMENT" #if($singleResult.viewType.name() == 'COMMENT')selected="selected"#end>#t('blog.post.list.head.view.type.comment')</option>
		            </select>
	            </div>
	        </div>
        </fieldset>
        <div class="cn-actions">
            <div class="cn-buttons">
                <input class="cn-button main" name="submit" type="submit" value="$fmtTool.message("user.profile.email.button")" />
            </div>
            <span class="cn-clear"><!-- ie --></span>
        </div>
    </form>
</div>
<span class="cn-clear"><!-- --></span>