<div class="cn-form-container">
    <form id="something_unique" action="#" method="post">
        #cnRenderMessages()
        <fieldset>
            <h2 class="cn-headline">$fmtTool.message("user.profile.password.change")</h2>
            #if($widget.isCurrentPasswordRequired())
            <div class="cn-field-100">
                <div class="cn-label">
                    <label for="oldPassword">$fmtTool.message("user.profile.password.old")</label>
                </div>
                #cnErrorMessage( "singleResult.oldPassword" )
                    <input type="password" id="oldPassword" class="cn-inputPwd" autocomplete="off"
                        name="${status.expression}" value="$!escTool.xmlSimple($!status.value)" />
                </div>
            <span class="cn-clear"><!-- ie --></span>
            <div class="cn-vertical-spacer-20">&nbsp;</div>
            #end
            <div class="cn-field-50">
                <div class="cn-label">
                    <label for="newPassword">$fmtTool.message("user.profile.password.new")</label>
                </div>
                #cnErrorMessage('singleResult.newPassword')
                    <input type="password" id="newPassword" class="cn-inputPwd" autocomplete="off"
                        onkeyup="updateQualityMeter(this);"
                        name="${status.expression}" value="$!escTool.xmlSimple($!status.value)" />
                </div>
            <div class="cn-field-50">
                <div class="cn-label">
                    <label>&nbsp;</label>
                </div>
                <div class="cn-password-strength-check">
                    <span class="progressLabel">$fmtTool.message("user.register.password_strength.low")</span>
                    <div class="progressbar">
                        <div id="progressbarArrow" class="progressbarArrow"></div>
                    </div>
                    <span class="progressLabel">$fmtTool.message("user.register.password_strength.strong")</span>
                    <span class="cn-clear"><!-- ie --></span>
                </div>
            </div>
            <span class="cn-clear"><!-- ie --></span>
            <div class="cn-field-50">
                <div class="cn-label">
                    <label for="newPasswordConfirm">$fmtTool.message("user.profile.password.new.confirm")</label>
                </div>
                    #cnErrorMessage('singleResult.newPasswordConfirm')
                    <input type="password" id="newPasswordConfirm" class="cn-inputPwd" autocomplete="off"
                        name="${status.expression}" value="$!escTool.xmlSimple($!status.value)" />
                </div>
            <span class="cn-clear"><!-- ie --></span>
        </fieldset>
        <div class="cn-actions">
            <div class="cn-buttons">
                <input class="cn-button main" name="" id="" type="submit" value="$fmtTool.message("user.profile.update.profile")" />
            </div>
            <span class="cn-clear"><!-- ie --></span>
        </div>
    </form>
</div>