<title>$fmtTool.message("blog.client.admin.page.title") &ndash; $escTool.xmlSimple($communoteTool.CurrentClientName)</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta name="language" content="en" />
<link rel="shortcut icon" type="image/x-icon" href="$urlTool.getFaviconUrl()" />
#parse('/WEB-INF/vm/common/styles.html.vm')
## insert javascript
#set($jsMessagesCategory='admin')
#parse('/WEB-INF/vm/common/scripts.html.vm')
